/* body {
  font-family: sans-serif;
  margin: 0 auto;
  padding: 25px;
  max-width: 400px;
  min-width: 400px;
  background-color: #dfe6e9;
  text-align: center;
}

.heading {
  text-align: center;
  font-size: 2em;
  color: #2d3436;
  margin: 20px 0 30px;
}

.card {
  border-radius: 25px;
  position: relative;
  padding: 25px 15px;
  background-color: #81ecec;
  margin: 50px 0;
  height: 200px;
  box-shadow: 0 2px 5px #ccc;
  text-align: left;
}

.top {
  border-radius: 25px 25px 0 0;
  height: 100px;
  width: 100%;
  background-color: #00cec9;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.name {
  font-size: 2em;
  color: #2d3436;
  display: flex;
  flex: 1;
  margin: 10% 20px 0;
}

.card img {
  margin: 30px 20px 0 0;
}

.circle-img {
  border-radius: 50%;
  border: 7px solid #fff;
  width: 120px;
  height: 120px;
}

.bottom {
  margin-top: 120px;
}

.info {
  margin: 20px 0;
  color: #1a7e76;
} */

.side-panel {
  display: inline-block;
  width: 20%;
  /* background-color: #00cec4; */
  margin-right: 30px;
  position: absolute;
  top: 266px;
}

.sidepanel {
  padding-left: 10px;
}

.courses {
  display: inline-block;
  width: 75%;
  position: absolute;
  left:325px
}

.container {
  margin-top: 40px;
  margin-bottom: 40px;
}

h3 {
  margin-bottom: 15px;
}

/* SEARCH BAR */
.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #fff;
  border-radius: 30px;
  padding: 10px;
  border-style: solid;
  border-color: #495057;
  border-width: 1px;
}

.search_input {
  color: #000;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_input {
  padding: 0 10px;
  width: 450px;
  caret-color: #0d6efd;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_icon {
  background: white;
  color: #0d6efd;
}

.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #000;
  text-decoration: none;
}

.h-100 {
  margin-bottom: 100px;
  margin-top: 50px;
}

/* UPVOTE AND DOWNVOTE */
.icon1 {
  color: #198754;
}

.icon2 {
  color: #dc3545;
}

.icon1:hover {
  transform: scale(1.2);
  color: #000;
}

.icon2:hover {
  transform: scale(1.2);
  color: #000;
}

/* Course Suggested or Approved*/
.status {
  position: absolute;
  right: 30px;
}

.submit-with-icon {
  background: transparent;
  border: 0px;
  padding: 0;
  outline: 0;
}

.link:hover {
  color: #0d6efd;
}

.loading {
  position: absolute;
  left: 650px;
  top: 100px;
}